.main {
  width: 100%;
  background: #f5f5f9;
}
.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    
    height: 1.2rem;
    width: 100%;
    
   
}
.navlists{
    list-style: none;
    height: 1.2rem;
    padding: 0 0.37rem;
}
.navlists li{
    width: 20%;
    float: left;
}
.navlists li p{
    line-height: 0.6rem;
    text-align: center;
}
.navlists li p:nth-child(1){
    line-height: 0.6rem;
    font-size: 0.34rem;
    
}
.navlists li p:nth-child(2){
    line-height: 0.6rem;
    font-size: 0.24rem;
}
.navlists .active{
    background: #00a3f0;
    color: #FFFFFF!important;
}
.banner{
    height: 84vh;
    background: #17a9ea;
    width: 100%;
    position: relative
}
.swiperBG{
    position: absolute;
    top: 1.84rem;
    border-radius: 0.1rem;
    width: 95%;
    margin-left: 2.5%;
    height: 7.28rem;
    background: #FFFFFF;
    opacity: .88;
}
.content{
    z-index: 100;
    position: absolute;
    top: 1.3rem;
    width:90%;
    margin-left: 5%;
    height: 8.13rem;
    border-radius: 0.1rem;
   overflow: hidden;
    background: #FFFFFF;
}
.space-carousel {
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}
.my-carousel .v-item {
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
.swapTiele{
    font-size: 0.4rem;
    text-align: center;
    height: 1.31rem;
    line-height: 1.31rem;
    color: #000000;
}
.swapImg{
    height: 4.3rem;
    
    position: relative;
}
.swapImg img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4.13rem;
}
.swapState{
    width: 2.74rem;
    height: 0.71rem;
    border: 2px dashed #00a3f0;
    margin: 0 auto;
    text-align: center;
    line-height: 0.71rem;
    font-size: 0.24rem;
    color: #00a3f0;
}
.swapLeft{
    float: left;
    width: 48%;
    height: 1.06rem;
    color: #000000;
}
.swapLeft p:nth-child(1){
    font-size: 0.26rem;
    text-align: center;
    line-height: 1.06rem;
}
.swapLeft p:nth-child(2){
    font-size: 0.36rem;
    text-align: center;
   color: #00a3f0;
}

.nobuy h1{
    text-align: center;
    height: .58rem;
    line-height: .58rem;
    font-weight: 100;
    font-size: .36rem;
}
.nobuy p{
    text-align: center;
    height: 5.18rem;
    line-height: 5.18rem;
    font-weight: 100;
    font-size: .32rem;
}
.nobuy button{
    margin-left: 2rem;
    width: 2.3rem;
    height: .88rem;
    background: #00a3f0;
    color: #FFFFFF;
    border: 0;
    border-radius: .1rem;
    font-size: .32rem;
}
.ggtitle{
    height: .58rem;
    line-height: .58rem;
    font-size: .42rem;
}
.ggcont{
    padding: .3rem;
    margin-top: .2rem;
    font-size: .32rem;
}
.ggtime{
   font-size: .28rem;
   text-align: right;
   padding-right: .3rem;
}