.main{
    background: #FFFFFF;
    width: 100%;
    min-height: 100vh;
    padding: 0 .4rem;
    box-sizing: border-box;
    padding-bottom: .5rem;
}
p{
    margin-bottom: 0!important;
}
.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.2rem;
    width: 100%;
 }
.navlists{
    list-style: none;
    height: 1.2rem;
    padding: 0 0.37rem;
    background: #FFFFFF;
}
.navlists li{
    width: 20%;
    float: left;
}
.navlists li p{
    line-height: 0.6rem;
    text-align: center;
}
.navlists li p:nth-child(1){
    line-height: 0.6rem;
    font-size: 0.34rem;
    
}
.navlists li p:nth-child(2){
    line-height: 0.6rem;
    font-size: 0.24rem;
}
.navlists .active{
    background: #00a3f0;
    color: #FFFFFF!important;
}
/*nav END*/

.classifyBox{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: .3rem;
    margin-bottom: .2rem;
}
.classifyBox>div{
    height: 1.5rem;
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.classifyIconBox{
    width: .8rem;
    height: .8rem;
    margin-top: .2rem;
    
}
.classifyIconBox>img{
    width: 100%;
    height: 100%;
}
.classifyBox>div>p{
    font-size: .24rem;
    color: #a7a8aa;
    margin-bottom: .1rem;
}


.PlateTitle{
    width: 100%;
    font-size: .18rem;
    padding: .27rem 0 .15rem 0.2rem;
    color: #999999;
    position: relative;
}
.PlateTitleImg{
    height: .26rem;
}


.GoodsList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.GoodsItem{
    flex: 0 1 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 .05rem .05rem #f5f5f9;
    margin-bottom: .15rem;
}
.GoodsItem>img{
    width: 100%;
    height: 50vw;
}

.GoodInfo{
    width: 100%;
    height: 1rem;
}

.GoodName{
    width: 100%;
    height: .46rem;
    font-size: .26rem;
    line-height: .46rem;
    padding: 0 .2rem;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.GoodPrice{
    width: 100%;
    height: .50rem;
    font-size: .30rem;
    color: #FF0000;
    line-height: .50rem;
    padding: 0 .2rem;
    box-sizing: border-box;
}
.navlists .active{
    background: #00a3f0;
    color: #FFFFFF!important;
}
.remTitle{
    padding: 0 0.2rem;
    font-size: 0.26rem;
    height: .8rem;
    line-height: .8rem;
    color: #f84040;
}
.remCont{
    padding: 0 0.2rem;
    width: 100%;
}
.remTab{
   width: 100%;
   font-size: .32rem;
   text-align: center;
   line-height: .64rem;
   border: 1px solid #ddd;
}
.remTab tr th{
    background: #00a3f0;
    border-right: 1px solid #ddd;
    color: #FFFFFF;
    font-weight: 100;
}
.remTab tr td{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.remTab tr td:nth-child(1){
    color: #00a3f0;
}
/*搜索框*/
.searchwrap{
    height: 1.12rem;
    
}
