
html, body, :global(#root) {
  width: 100%;
}
body{
  
 
}
*{
  margin: 0;
  padding: 0;
  
}
.main{
  min-height: 100vh;
  width: 100%;
}
@font-face {
  font-family: iconfont;
  src: url('./assets/font/iconfont.ttf');
}
